// Media queries
// $tablet-breakpoint: 768px;
// $desktop-breakpoint: 1024px;


// Colors
$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #ffffff;
$bandsite-darkblack: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Fonts
$primary-font: "Avenir Next Regular";
$primary-font-demi: "Avenir Next Demi";
$primary-font-bold: "Avenir Next Bold";


